<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/pico</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">k4hvd</property>
		
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		
		<!--  Action -->
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- mas Opciones -->
		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
		
		
		<!--  Maaping -->
		<mapping class="ni.berroteran.psychoclinic.modelo.Paciente" />
		
		
		
	</session-factory>
	
	
</hibernate-configuration>